<!DOCTYPE html>
<html>
<head>
    <title>Consulta de Cadastros</title>
    <style>
        /* Mesmos estilos da tela de cadastro */
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            margin: auto;
            width: 80%;
            padding: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Consulta de Usuários</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                </tr>
            </thead>
            <tbody>
                {% for User in Users %}
                    <tr>
                        <td>{{ User[0] }}</td>
                        <td>{{ User[1] }}</td>
                        <td>{{ User[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{{ url_for('user') }}">Cadastrar Novo Cadastro</a>
    </div>
</body>
</html>